swagger: '2.0'
info:
  version: 1.0.3
  title: REST API облака Эвотор
  description: |
     Пользователи платформы Эвотор могут расширить базовую функциональность смарт-терминала с помощью интеграции со сторонними сервисами. Для пользователя, интеграция происходит с помощью приложений, доступных в Магазине Эвотор.
     После интеграции, сторонние сервисы могут взаимодействовать с данными пользователей платформы с помощью HTTP-запросов.
     # Авторизация
     Все запросы к REST API облака Эвотор, должны содержать HTTP-заголовок `x-Authorization`, в котором требуется указать *токен*. Токен можно получить одним из следующих способов:
       * В GET-параметре `token` веб-адреса iframe-приложения:
         ```
         https://partner.org/#/?uid=01-000000000011111&token=string
         ```
       * В Личном кабинете пользователя Эвотор, в разделе **Настройки** приложения.
       ![Токен для интеграции с 1с](images/api-key.png)
     * В POST-запросе от облака Эвотор. Для этого сторонний сервис должен поддерживать адрес `http://<веб-адрес стороннего сервиса>/api/v1/user/token`.
tags:
  - name: Сущности пользователя Эвотор
    description:
      Запросы информации о магазинах, сотрудниках и смарт-терминалах определённого пользователя платформы Эвотор.
  - name: Товары и документы
    description:
      Запросы информации об определённом магазине (`storeUuid`) пользователя платформы Эвотор.
produces:
    - application/json
consumes:
    - application/json
host: api.evotor.ru
schemes:
    - https
paths:
 /api/v1/inventories/stores/search:
  x-summary: Получить список магазинов
  get:
    tags:
      - Сущности пользователя Эвотор
    summary: Получить список магазинов
    description: |
      Возвращает массив с информацией о всех магазинах пользователя.
    parameters:
      - $ref: '#/parameters/auth'
    responses:
      '200':
        description: OK
        schema:
          title: Список магазинов
          type: array
          items:
            $ref: '#/definitions/store'
 /api/v1/inventories/employees/search:
  x-summary: Получить список сотрудников
  get:
    tags:
      - Сущности пользователя Эвотор
    summary: Получить список сотрудников
    description: |
      Возвращает массив с информацией о всех сотрудниках пользователя. Под сотрудниками понимаются пользователи смарт-терминалов, например, кассиры.
    parameters:
      - $ref: '#/parameters/auth'
    responses:
      '200':
        description: OK
        schema:
          title: Cписок сотрудников
          type: array
          items:
            $ref: '#/definitions/employee'
 /api/v1/inventories/devices/search:
  x-summary: Получить список смарт-терминалов
  get:
    tags:
      - Сущности пользователя Эвотор
    summary: Получить список смарт-терминалов
    description: |
      Возвращает массив с информацией о всех смарт-терминалах пользователя.
    parameters:
      - $ref: '#/parameters/auth'
    responses:
      '200':
        description: OK
        schema:
          title: Список смарт-терминалов
          type: array
          items:
            $ref: '#/definitions/device'
 /api/v1/inventories/stores/{storeUuid}/products:
  x-summary: Обмен товарами
  get:
    tags:
      - Товары и документы
    summary: Получить список товаров
    description: |
        Возвращает информацию обо всех товарах в определённом магазине (`{storeUuid}`) пользователя платформы.
    parameters:
      - $ref: '#/parameters/auth'
      - name: storeUuid
        in: path
        required: true
        type: string
    responses:
      '200':
        description: OK
        schema:
          type: array
          items:
            $ref: '#/definitions/product'
  post:
    tags:
      - Товары и документы
    summary: Передать список товаров
    description: |
      Загружает информацию об одном или нескольких товарах в определённый магазин (`{storeUuid}`) пользователя платформы.
    parameters:
      - $ref: '#/parameters/auth'
      - $ref: '#/parameters/contentType'
      - name: storeUuid
        in: path
        required: true
        type: string
      - name: products
        in: body
        description: Массив товаров
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/product'
    responses:
      '200':
        description: OK
 /api/v1/inventories/stores/{storeUuid}/products/delete:
  x-summary: Удаление товаров
  post:
    tags:
      - Товары и документы
    summary: Удалить товар
    description: |
      HTTP-запрос с пустым телом удалит все товары в магазине.
      Чтобы удалить определённый товар, в теле HTTP-запроса требуется указать его UUID.
    parameters:
      - $ref: '#/parameters/auth'
      - $ref: '#/parameters/contentType'
      - name: storeUuid
        in: path
        required: true
        type: string
      - name: products
        in: body
        description: Массив товаров
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/productToDelete'
    responses:
      '200':
        description: OK
 /api/v1/inventories/stores/{storeUuid}/documents:
  x-summary: Документы
  get:
    tags:
      - Товары и документы
    summary: Получить список документов
    description: |
      Возвращает массив документов. Существуют следующие типы документов:
      * Кассовые документы - [SELL,
      PAYBACK,CASH_INCOME,CASH_OUTCOME,OPEN_SESSION,FPRINT,CLOSE_SESSION]
      * Инвентаризация - INVENTORY
      * Приёмка - ACCEPT
      * Возврат поставщику - RETURN
      * Списание - WRITE_OFF
      * Акт переоценки - REVALUATION
      * Вскрытие тары - OPEN_TARE
    parameters:
      - $ref: '#/parameters/auth'
      - name: storeUuid
        in: path
        required: true
        type: string
      - name: deviceUuid
        in: query
        type: string
      - name: ltCloseDate
        in: query
        format: date-time
        type: string
        description: |
          Ответ будет содержать документы, созданные до указанной даты. Формат времени - 2017-01-10T09:33:19.757Z
      - name: gtCloseDate
        in: query
        format: date-time
        type: string
        description: |
          Ответ будет содержать документы, созданные после указанной даты. Формат времени - 2017-01-10T09:33:19.757Z
      - name: type
        description: |
          Ответ будет содержать документы определенных типов. Можно указать несколько типов через запятую. Возможные значения:
          * кассовые документы - SELL,PAYBACK,CASH_INCOME,CASH_OUTCOME,OPEN_SESSION,FPRINT,CLOSE_SESSION.
          * инвентаризация - INVENTORY;
          * приемка - ACCEPT;
          * возврат поставщику - RETURN;
          * списание - WRITE_OFF;
          * акт переоценки - REVALUATION;
          * вскрытие тары - OPEN_TARE.
        in: query
        type: string
    responses:
      '200':
        description: OK
        schema:
          title: Массив документов
          type: array
          items:
            $ref: '#/definitions/document'
parameters:
  auth:
    name: X-Authorization
    in: header
    description: |
        Содержит токен, который можно получить одним из способов, описанных в разделе **Авторизация**.
    required: true
    type: string
  contentType:
    name: Content-Type
    in: header
    description: |
        Тип данных, которые может содержать тело HTTP-запроса. Значение по умолчанию `application/json`
    required: true
    type: string
    default: application/json
definitions:
  productToDelete:
    type: object
    properties:
      uuid:
        type: string
        description: Уникальный UUID товара в платформе Эвотор.
  product:
    type: object
    required:
      - alcoCodes
      - alcoholByVolume
      - alcoholProductKindCode
      - allowToSell
      - articleNumber
      - barCodes
      - code
      - costPrice
      - description
      - group
      - measureName
      - name
      - parentUuid
      - price
      - quantity
      - tareVolume
      - tax
      - type
      - uuid
    properties:
      uuid:
        type: string
        description: UUID товара, уникальный в рамках магазина.
        pattern: >-
          ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
      code:
        type: string
        description: Код товара или группы товаров
        minLength: 0
        maxLength: 10
      barCodes:
        type: array
        description: Массив штрихкодов. Для групп товаров - пустой массив.
        items:
          type: string
          pattern: '^[0-9]$'
          minLength: 1
      alcoCodes:
        type: array
        description: |
          Массив алкокодов (кодов алкогольной продукции ЕГАИС) для групп товаров - пустой массив
        items:
          type: string
          pattern: '^[0-9]{19}$'
      name:
        type: string
        description: Название товара или группы товаров.
        minLength: 1
        maxLength: 100
      price:
        type: number
        format: float
        minimum: 0
        maximum: 9999999.99
        description: Цена продажи. Для групп товаров указывайте 0.
      quantity:
        type: number
        format: float
        description: |
          Остаток (количество товара). Содержит до 3 знаков после запятой. Для групп товаров указывайте 0.
      costPrice:
        type: number
        format: float
        minimum: 0
        maximum: 9999999.99
        description: Закупочная цена. Для групп товаров указывайте 0.
      measureName:
        type: string
        description: Единица измерения товара. Для групп товаров указывайте "".
        enum:
          - ''
          - шт
          - кг
          - л
          - м
          - км
          - м2
          - м3
          - компл
          - упак
          - ед
          - дроб
      tax:
        type: string
        description: Ставка НДС. Для групп товаров указывайте "NO_VAT".
        enum:
          - NO_VAT
          - VAT_10
          - VAT_18
          - VAT_0
          - VAT_18_118
          - VAT_10_110
      allowToSell:
        type: boolean
        description: |
          Определяет доступен товар для продажи или нет. Возможные значения:
            * true - доступен;
            * false - недоступен.
            Для групп товаров указывайте true.
      description:
        type: string
        description: Описание товара. Для групп товаров указывайте "".
        minLength: 0
      articleNumber:
        type: string
        description: Артикул товара. Для групп товаров указывайте "".
        minLength: 0
        maxLength: 20
      parentUuid:
        type: string
        pattern: |
          ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
        description: |
          UUID группы товаров, к которой относится товар или другая группа товаров. Может принимать значение null, если товар или группа находятся в корне иерархии.
      group:
        type: boolean
        description: |
          Определяет, является ли элемент группой товаров или нет. Возможные значения:
            * true - группа;
            * false - товар.
      type:
        type: string
        description: |
          Тип товара:
            * обычный;
            * маркированный алкоголь;
            * немаркированный алкоголь.
          Для групп товаров - "NORMAL".
        enum:
          - NORMAL
          - ALCOHOL_MARKED
          - ALCOHOL_NOT_MARKED
      alcoholByVolume:
        type: number
        format: float
        minimum: 0
        maximum: 99.999
        description: >-
          Крепость алкогольной продукции, до 3 знаков после запятой. Для
          групп товаров - 0.
      alcoholProductKindCode:
        type: integer
        minimum: 0
        maximum: 999
        description: Код вида алкогольной продукции ФСРАР. Для групп товаров - 0.
      tareVolume:
        type: number
        format: float
        minimum: 0
        maximum: 999.999
        description: |
          Емкость тары алкогольной продукции в литрах, до 3 знаков после запятой. Для неалкогольных товаров и групп - 0.
      fields:
        type: object
        description: Дополнительные атрибуты товара, не входящие в стандартную схему.
  employee:
    type: object
    required:
      - uuid
      - role
      - name
      - stores
    properties:
      uuid:
        type: string
        description: |
          Уникальный идентификатор сотрудника в платформе Эвотор, в формате uuid4. Не может содержать пустую строку или принимать значение `null`.
        pattern: >-
          ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      name:
        type: string
        description: Имя сотрудника в платформе Эвотор. Не может содержать пустую строку или принимать значение `null`.
      lastName:
        type: string
        description: Фамилия сотрудника в платформе Эвотор.
      patronymicName:
        type: string
        description: Отчество сотрудника в платформе Эвотор.
      phone:
        type: number
        description: Номер телефона сотрудника в платформе Эвотор.
        pattern: '^7[0-9]{10}$'
        default: 79876543210
      stores:
        type: array
        description: Массив идентификаторов магазинов, к которым привязан идентификатор сотрудника.
        items:
          type: object
          properties:
            storeUuid:
              type: string
              description: |
                Уникальный идентификатор магазина в платформе Эвотор, в формате uuid4. Не может содержать пустую строку или принимать значение `null`.
              pattern: >-
                ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      role:
        type: string
        description: |
          Роль, которая задаёт права доступа сотрудника. В зависимости от прав, сотрудники имеют доступ к различным функциям смарт-терминала.
        enum:
          - ADMIN
          - CASHIER
          - MANUAL
  store:
    type: object
    required:
      - uuid
      - name
    properties:
      uuid:
        type: string
        description: >-
          Уникальный идентификатор магазина в платформе Эвотор, в формате uuid4. Не может содержать пустую строку или принимать значение `null`.
        pattern: >-
          ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      name:
        type: string
        description: Имя магазина в платформе Эвотор. Не может содержать пустую строку или принимать значение `null`.
      address:
        type: string
        description: Адрес магазина в платформе Эвотор.
  device:
    type: object
    properties:
      uuid:
        type: string
        description: Уникальный идентификатор смарт-терминала в платформе Эвотор, в формате uuid4.
        pattern: >-
          ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      name:
        type: string
        description: Имя смарт-терминала в платформе Эвотор. Не может содержать пустую строку или принимать значение `null`.
        minLength: 1
      storeUuid:
        type: string
        description: |
          Уникальный идентификатор магазина в платформе Эвотор, к которому привязан смарт-терминал. Формат идентификатора - uuid4. Не может содержать пустую строку или принимать значение `null`.
        pattern: >-
          ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
  document:
    type: object
    required:
      - uuid
      - type
    properties:
      uuid:
        type: string
      type:
        type: string
        enum:
          - SELL
          - PAYBACK
          - CASH_INCOME
          - CASH_OUTCOME
          - OPEN_SESSION
          - FPRINT
          - CLOSE_SESSION
          - INVENTORY
          - ACCEPT
          - RETURN
          - WRITE_OFF
          - REVALUATION
          - OPEN_TARE
      transactions:
        type: array
        items:
          $ref: '#/definitions/transaction'
  transaction:
    type: object
    properties:
      type:
        type: string
        enum:
          - DISCOUNT_DOCUMENT
          - DISCOUNT_POSITION
          - DISCOUNT_DOCUMENT_POSITION
          - DOCUMENT_OPEN
          - DOCUMENT_CLOSE
          - DOCUMENT_CLOSE_FPRINT
          - REGISTER_POSITION
          - REGISTER_BILLS
          - CASH_INCOME
          - CASH_OUTCOME
          - INVENTORY
          - PAYMENT
          - OPEN_SESSION
          - CLOSE_SESSION
          - FPRINT_OPEN_SESSION
          - FPRINT_X_REPORT
          - FPRINT_Z_REPORT
          - POSITION_TAX
          - REVALUATION
